.btn {
  background-color: var(--shadow-color);
  border: none;
  border-radius: 3px;
  color: var(--primary-text-color);
  cursor: pointer;
  padding: 0.7em 1.2em;
  text-decoration: none;
  transition: 0.5s;
  width: 100%;
}

.btn:disabled {
  background-color: var(--secondary-color);

}

.btn:enabled:hover {
  color: var(--theme);
}
