#favoritos {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 15px;
  width: max-content;
  margin: 0 auto;
}

#fav {
  margin-top: 120px;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 600px) {
  #favoritos {
    display: grid;
    grid-template-columns: 100%;
    gap: 5px;
    width: 90%;
  }

  #fav {
    color: white;
    margin-top: 80px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
  }
}