/* audio::-webkit-media-controls-panel {
  background-color: rgb(255, 0, 0);
  border: 1px solid red;
} */

.musicas {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.musica {
  /* background-color: rgb(184, 184, 184); */
  border-radius: 10px;
  padding-bottom: 50px;
  /* width: 800px; */
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content;
  gap: 16px;
  position: absolute;
  left: 43%;
}

.musicas section p{
  max-width: 25ch;
  overflow: hidden;
  margin: 0 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

#audio {
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
}

/* audio::-webkit-media-controls-timeline {
  display: no;
} */

#albumFoto {
  width: 350px;
  border-radius: 10px;
}

/* .infos {
  font-size: 18px;
} */

#albumInfo {
  width: 350px;
  position: fixed;
  right: 63%;
}

#linha {
  margin: 10px 0;
}

.cima {
  margin-top: 10px;
}