/* audio::-webkit-media-controls-panel {
  background-color: rgb(255, 0, 0);
  border: 1px solid red;
} */

.musicas {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.musica {
  /* background-color: rgb(184, 184, 184); */
  border-radius: 10px;
  padding-bottom: 50px;
  /* width: 800px; */
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content;
  gap: 16px;
  position: absolute;
  left: 43%;
}

.musicas section p{
  max-width: 25ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

#audio {
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  width: 300px;
}

/* audio::-webkit-media-controls-timeline {
  display: no;
} */

#albumFoto {
  width: 350px;
  border-radius: 10px;
}

#albumInfo {
  width: 350px;
  position: fixed;
  right: 63%;
  color: white;
}

#linha {
  margin: 10px 0;
}

.cima {
  margin-top: 10px;
}

#cabeca {
  display: flex;
  padding: 0 22px;
  /* width: max-content; */
  justify-content: space-between;
  /* margin-right: 15px; */
}

#label {
  display: flex;
  gap: 5px;
}

.artistaCard {
  font-weight: 400;
  margin-left: 23px;
  color: rgb(0, 98, 226);
}

@media (max-width: 600px) {
  .musicas {
    padding-top: 85px;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center; */
    /* gap: 20px; */
  }

  #albumFoto {
    width: 100%;
    border-radius: 10px;
  }
  
  #albumInfo {
    width: 90%;
    position: relative;
    left: 0;
    margin: 0 auto;
  } 

  .musica {
    justify-content: center;
    grid-template-columns: max-content;
    gap: 5px;
    position: relative;
    left: 0;
    width: 100%;
  }

  #audio {
    width: 100%;;
  }

  audio {
    width: 100%;
  }
}