nav {
  display: flex;
  gap: 30px;
  margin-right: 80px;
}

nav .link {
  text-decoration: none;
  color: white;
}

@media (max-width: 600px) {
  nav {
    display: flex;
    gap: 10px;
    margin-right: 0;
  }
}